# Importando Bibliotecas

In [7]:
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression

# Observação e tratamento dos dados

In [8]:
# Leitura dos dados
dados_test = pd.read_csv('test.csv', sep = ',')
dados_train = pd.read_csv('train.csv', sep = ',')

dados_test.head()
dados_train.head()

,Unnamed: 0,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,...,Q041,Q042,Q043,Q044,Q045,Q046,Q047,Q048,Q049,Q050
0,1,ed50e8aaa58e7a806c337585efee9ca41f1eb1ad,2016,4314902,Porto Alegre,43,RS,24,M,0.0,...,5.0,A,A,A,A,A,A,A,B,D
1,2,2c3acac4b33ec2b195d77e7c04a2d75727fad723,2016,2304707,Granja,23,CE,17,F,0.0,...,NaN,A,A,C,A,B,A,A,C,A
2,3,f4545f8ccb9ff5c8aad7d32951b3f251a26e6568,2016,2304400,Fortaleza,23,CE,21,F,0.0,...,NaN,A,A,A,A,C,A,A,B,A
3,4,3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe,2016,3304557,Rio de Janeiro,33,RJ,25,F,0.0,...,5.0,C,A,A,A,A,D,A,A,A
4,5,bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268,2016,1302603,Manaus,13,AM,28,M,0.0,...,NaN,A,A,A,A,A,A,A,A,A

In [9]:
# Olhando a coluna IN_TREINEIRO

dados_train.IN_TREINEIRO.head()

0    0
1    0
2    0
3    0
4    0
Name: IN_TREINEIRO, dtype: int64

In [91]:
# Olhando os NaN do DF dados_train

dados_train.isna().sum()

Unnamed: 0                    0
NU_INSCRICAO                  0
NU_ANO                        0
CO_MUNICIPIO_RESIDENCIA       0
NO_MUNICIPIO_RESIDENCIA       0
CO_UF_RESIDENCIA              0
SG_UF_RESIDENCIA              0
NU_IDADE                      0
TP_SEXO                       0
TP_ESTADO_CIVIL               0
TP_COR_RACA                   0
TP_NACIONALIDADE              0
CO_MUNICIPIO_NASCIMENTO       0
NO_MUNICIPIO_NASCIMENTO     609
CO_UF_NASCIMENTO              0
SG_UF_NASCIMENTO            609
TP_ST_CONCLUSAO               0
TP_ANO_CONCLUIU               0
TP_ESCOLA                     0
TP_ENSINO                     0
IN_TREINEIRO                  0
CO_ESCOLA                     0
CO_MUNICIPIO_ESC              0
NO_MUNICIPIO_ESC           9448
CO_UF_ESC                     0
SG_UF_ESC                  9448
TP_DEPENDENCIA_ADM_ESC        0
TP_LOCALIZACAO_ESC            0
TP_SIT_FUNC_ESC               0
IN_BAIXA_VISAO                0
                           ...
Q021                          0
Q022                          0
Q023                          0
Q024                          0
Q025                          0
Q026                          0
Q027                       7373
Q028                       7376
Q029                          0
Q030                          0
Q031                          0
Q032                          0
Q033                          0
Q034                          0
Q035                          0
Q036                          0
Q037                          0
Q038                          0
Q039                          0
Q040                          0
Q041                          0
Q042                          0
Q043                          0
Q044                          0
Q045                          0
Q046                          0
Q047                          0
Q048                          0
Q049                          0
Q050                          0
Length: 167, dtype: int64

In [90]:
# Substituindo os NaN pela média das colunas numéricas

for c in dados_train.columns:
    if dados_train[c].dtype in ['int64', 'float64']:
        dados_train[c] = dados_train[c].fillna(dados_train[c].mean())

In [24]:
# Juntando as variáveis numéricas já sem NaN em um único DF (c)

a = dados_train.select_dtypes(include='int64')
b = dados_train.select_dtypes(include='float64')
c = a.merge(b,left_index = True, right_index = True)

# Selecionando variáveis relevantes

In [89]:
# Usando RFE para observar as 20 variáveis numéricas mais relevantes

X_train = c.drop(columns = 'IN_TREINEIRO')
y_train = c['IN_TREINEIRO'].values

reg = LinearRegression()


rfe = RFE(estimator=reg, n_features_to_select= 20, step=1, verbose=0)

rfe_fit = rfe.fit(X_train, y_train)
    
rfe_choose = rfe_fit.get_support()
    
features_choosed = X_train.columns[rfe_choose]

# Mostrando as colunas selecionadas
print(list(features_choosed))

['TP_ST_CONCLUSAO', 'TP_ESCOLA', 'IN_BAIXA_VISAO', 'IN_SURDEZ', 'IN_DISCALCULIA', 'IN_VISAO_MONOCULAR', 'IN_GESTANTE', 'IN_AMPLIADA_24', 'IN_AMPLIADA_18', 'IN_TRANSCRICAO', 'IN_LEITURA_LABIAL', 'IN_MESA_CADEIRA_SEPARADA', 'IN_APOIO_PERNA', 'IN_MEDIDOR_GLICOSE', 'IN_SALA_ESPECIAL', 'IN_NOME_SOCIAL', 'IN_CERTIFICADO', 'TP_PRESENCA_CH', 'TP_ENSINO', 'TP_DEPENDENCIA_ADM_ESC']

In [87]:
# Selecionando aleatoriamente algumas variáveis (6) das 20 estipuladas pelo RFE que estão presentes nos dados de treino e de teste.

dados_test[['TP_ST_CONCLUSAO', 'TP_ESCOLA', 'IN_BAIXA_VISAO','TP_PRESENCA_CH','IN_DISCALCULIA','IN_SURDEZ']]

,TP_ST_CONCLUSAO,TP_ESCOLA,IN_BAIXA_VISAO,TP_PRESENCA_CH,IN_DISCALCULIA,IN_SURDEZ
0,1,1,0,1,0,0
1,1,1,0,0,0,0
2,3,1,0,1,0,0
3,2,2,0,1,0,0
4,1,1,0,1,0,0
5,2,2,0,1,0,0
6,3,1,0,0,0,0
7,2,2,0,1,0,0
8,3,1,0,1,0,0
9,1,1,0,1,0,0
10,2,2,0,1,0,0
11,2,2,0,1,0,0
12,1,1,0,1,0,0
13,2,2,0,1,0,0
14,1,1,0,1,0,0
15,2,3,0,1,0,0
16,1,1,0,1,0,0
17,3,1,0,1,0,0
18,2,2,0,1,0,0
19,1,1,0,1,0,0
20,2,2,0,1,0,0
21,1,1,0,1,0,0
22,1,1,0,0,0,0
23,1,1,0,1,0,0
24,2,2,0,1,0,0
25,1,1,0,1,0,0
26,3,1,0,0,0,0
27,1,1,0,1,0,0
28,2,3,0,1,0,0
29,4,1,0,1,0,0
...,...,...,...,...,...,...
4540,2,2,0,1,0,0
4541,1,1,0,1,0,0
4542,1,1,0,1,0,0
4543,1,1,0,1,0,0
4544,1,1,0,0,0,0
4545,3,1,0,1,0,0
4546,2,2,0,1,0,0
4547,2,2,0,1,0,0
4548,1,1,0,1,0,0
4549,3,1,0,0,0,0
4550,1,1,0,1,0,0
4551,4,1,0,0,0,0
4552,1,1,0,0,0,0
4553,2,2,0,1,0,0
4554,3,1,0,0,0,0
4555,3,1,0,1,0,0
4556,2,2,0,1,0,0
4557,2,2,0,1,0,0
4558,4,1,0,0,0,0
4559,1,1,0,1,0,0
4560,2,2,0,1,0,0
4561,2,2,0,1,0,0
4562,1,1,0,0,0,0
4563,2,2,0,1,0,0
4564,1,1,0,1,0,0
4565,2,3,0,1,0,0
4566,1,1,0,1,0,0
4567,1,1,0,1,0,0
4568,2,2,0,1,0,0
4569,1,1,0,1,0,0

# Rodando o modelo de Regressão Logística

In [82]:
# Separando os dados em treino e teste
        
X = c[['TP_ST_CONCLUSAO', 'TP_ESCOLA', 'IN_BAIXA_VISAO','TP_PRESENCA_CH','IN_DISCALCULIA','IN_SURDEZ']]
X_test = dados_test[['TP_ST_CONCLUSAO', 'TP_ESCOLA', 'IN_BAIXA_VISAO','TP_PRESENCA_CH','IN_DISCALCULIA','IN_SURDEZ']]

y = c['IN_TREINEIRO'].values
        

# Ajustando o modelo de regressão logística

regLog = LogisticRegression()
regLog.fit(X, y)
y_predict = regLog.predict(X_test)

D:\jean\Anaconda\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [83]:
# Olhando o score

regLog.score(X, y)

0.9113619810633649

# Exportando o resultado final

In [86]:
# Observando e exportando o resultado final

resultado = pd.DataFrame({"NU_INSCRICAO": dados_test["NU_INSCRICAO"],"IN_TREINEIRO" : y_predict})
print(resultado)

resultado.to_csv("answer.csv",index=False) 
pd.read_csv('answer.csv').head()

                                  NU_INSCRICAO  IN_TREINEIRO
0     ba0cc30ba34e7a46764c09dfc38ed83d15828897             0
1     177f281c68fa032aedbd842a745da68490926cd2             0
2     6cf0d8b97597d7625cdedc7bdb6c0f052286c334             1
3     5c356d810fa57671402502cd0933e5601a2ebf1e             0
4     df47c07bd881c2db3f38c6048bf77c132ad0ceb3             0
5     3f28749fb79fb059caf5aed79625a5addfd7a91a             0
6     bb2a0edddf3c59181a1496390aaaee7f32624d9d             0
7     cc7cab347fe5455aae983f3701ca40f84dc01949             0
8     95e9338f1da02f7bfa0e3194130afdccc0fb5457             1
9     155f84f2ee5b34e658f2adcc70f2ec83e37040cb             0
10    40f4566da0536c486a34ec6ba85257eaebf3255c             0
11    366749b2ea3e6023fdbfdbf7c6596dfab31885d9             0
12    52502d4aca10ad7261a4fe9983ddca1fd8b45c31             0
13    52b20639bb0294b01c9be89f80cf682ac4d9f133             0
14    1718c649736b61d49a714f2a1c0a3e37a4d7c3b4             0
15    2410aa55f6eedc95bf049e118f7686714b7efca7             0
16    a82ffea78453d320efe7800590c717a32a9b9c7a             0
17    4a5b86a6ea23f1551456cbf49ed54885992de4ce             1
18    d3a6a5746484c9046c1fc1f58f5a0a4da252c391             0
19    d18ae8829870011d4a3b1651e0bfa1640b8e9eb2             0
20    b79c3f5daf56ab613a6ee75c8ad7d190cca42a78             0
21    f2a7137f1f083351e14c6625a25cdd6809abb9eb             0
22    bc9bf0eedfd80d0ce69a6df520b634790f3ce448             0
23    c567a1f6e1d7a22b58ad729bdc2a4b2836da2039             0
24    a309ebeff49f88dbab213711495fbb13db2328ef             0
25    18d4f88a769aa62d7732a5fa610d935893da52ae             0
26    c4a95595f52e40030703fda3dbfd7a7932395d3b             0
27    d3464236d53369514fbf151775b514a596a67400             0
28    eaafa5442e02ae0eb1269507572450c52aa373a6             0
29    e9e4c0a15dbd4e92cace2e00b95c16ad08632e17             1
...                                        ...           ...
4540  d4dfcd1c05a30cdbea87c1e98f8663e456c86d0e             0
4541  77011c6ec5792e28086ba34d0e53faf28e7a0809             0
4542  89346606f1baa1450cdc099107eeef05342e5852             0
4543  5f512fb3556a7a567bdca975191c40ca08d492b8             0
4544  f1f4cbbebcf27ed28d720198a5018fb362875af1             0
4545  f816860ce5c2b57bd762b58837fe3ba39f59fa2b             1
4546  1465217e49913041851bc4ba75c17736cb9a6368             0
4547  29db02b5c661d7ba17547fcb84bb3df3f2345607             0
4548  3a166e9f4f34e0766e0d8bc74a6caee3a573bc5f             0
4549  5c755a25a3441f56891e98d571e5237392856fe1             0
4550  27b674aea91a8a3c6652212e3cc9dd41370095b9             0
4551  e29324716ee9ce7bea9383480aa98f59c7a6d885             1
4552  9eaf628037ff65afa2a424d2329a38e80b326f8f             0
4553  46d949289f8eddad46c9799671a4c1a63d6b2bf1             0
4554  bfcb0cd5751b3a8d7c7447bec542235242c36caf             0
4555  b63a50e01747dfd607f88af029ec89324da61966             1
4556  cdf6d93623ca5116a0d483a8682b5f35eb99f6f3             0
4557  d4e35bc6c21e119c78c411bdd4ff3bdab7fa7b1b             0
4558  80689f334285ddc088d8ee19c28bc289de2126e7             1
4559  1c4d5d329dd792c39e52de9547718d7bdb307ded             0
4560  e4d38f80b6c869e4748cbef9373a22cc5c775728             0
4561  ea385ce7d39aa1803bbbe7eb7dd9ff574dbbd7b9             0
4562  7e3bcf2966378b00af9ca687bcdb8c5c85e9cfeb             0
4563  3b71684faf93eac1ae36380f35c54253e4b13509             0
4564  96f0f13cd1e74986eddd4a97bf1a3006a8ce2f74             0
4565  361b7fcd8867119550fe2af5aa729ffad89a7cf5             0
4566  d8a0e4c9e29494cc9bba2422bd79333931475ee1             0
4567  3f1c3388244df8d6521e983a809292d9f3bca643             0
4568  1778e9c4cef591beb6b986d191d15ed05de816b0             0
4569  096809759695097e384e766d2d9e23a34fc81610             0

[4570 rows x 2 columns]

                               NU_INSCRICAO  IN_TREINEIRO
0  ba0cc30ba34e7a46764c09dfc38ed83d15828897             0
1  177f281c68fa032aedbd842a745da68490926cd2             0
2  6cf0d8b97597d7625cdedc7bdb6c0f052286c334             1
3  5c356d810fa57671402502cd0933e5601a2ebf1e             0
4  df47c07bd881c2db3f38c6048bf77c132ad0ceb3             0